/* Root element styling */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Global Box Sizing */
* {
  box-sizing: border-box;
}

/* Remove default body styling */
body {
  margin: 0;
  padding: 0;
}
